.dark {
    background: dimgrey;
    color: aliceblue;
}

.red {
    background: lightcoral;
    color: aqua;
}

.some {
    background: lightgreen;
    color: darkslateblue;
}

.purple {
    background: #b0a6cd;
    color: #504a4a;
}

