.peopleWrapper {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.buttonWrapper{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}