.radio {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    background: #cdc8db;
    border: 1px solid #7b51b3
}

.radio:hover {
    border: 2px solid #7b51b3;
}

.radio:checked {
    background: #7b51b3;
}

.radio:focus {
    border: 2px solid #ad7ed7;
}