.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: -208px;
    width: 260px;
    height: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.active {
    left: 0;
}

.item {
    text-decoration: none;
    color: #7c56af;
}
.item:hover {
    color: #6205f3;
}

.activeItem {
    color: #592f7d;
    font-weight: 700;
}


.square {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #7b51b3;
}
.square:hover {
    background-color: #592f7d;
    transition: all 0.3s ease 0s;
}